{% extends "kecupu.pos/base2.html" %}

{% block content %}
    <h2>New order</h2>
    <div id="order-wrapper">
        <form action="{% url kecupu.pos.views.new_order %}" method="post">
        <div id="order-customer">
                <input type="text" name="customer-id" size="10" id="txt-customer-search" value="{{ order.customer.id }}-{{ order.customer.name }}" />Search customer<br />
        </div>
        <div id="order-item-search">
                <input type="text" name="item-id" size="10" id="txt-item-search" />Search item &nbsp;
                Qty <input type="text" name="item-qty" size="2" />&nbsp;
                <input type="submit" name="item-submit" value="Add Item" />
        </div>
        <input type="hidden" name="order-id" value="{{ order.id }}" />
        </form> 
        <div id="order-item-list">
            <table id="order-item-list-tbl">
                <thead>
                    <tr>
                        <th style="width: 10%">Remove</th>
                        <th style="width: 40%">Item Name</th>
                        <th style="width: 10%">Price</th>
                        <th style="width: 10%">Qty</th>
                        <th style="width: 10%">Total</th>
                        <th style="width: 10%">Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td></td>
                        <td>{{ item.item.name }}</td>
                        <td>{{ item.item.price }}</td>
                        <td>{{ item.qty }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" align="center">No items in cart</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <pre>
    {{ request.POST }}
    </pre>
{% endblock %}
