{% extends "kecupu.pos/base2.html" %}

{% block page_title %}
<h2>Order #{{ order.id }}</h2>
{% endblock %}

{% block content %}
    <div id="order-wrapper">
        <div id="order-customer">
            {% if order.customer %}
            Customer ID: #{{ order.customer.id }} {{ order.customer.name }}
            [<a href="{% url kecupu.pos.views.orders %}?customer-id={{ order.customer.id }}">Show all orders</a>]
            {% else %}
            <form action="" method="post">
               Customer name: <input type="text" name="customer-id" size="10" id="txt-customer-search" value="" />
                <input type="submit" name="submit-customer" value="Create order" />
            </form> 
            {% endif %}
        </div>
        {% if order %}
        <div id="order-item-list">
            <form name="order-item-list" action="{% url kecupu.pos.views.update_order order.id %}" method="post">
            <table id="order-item-list-tbl">
                <thead>
                    <tr>
                        <th style="width: 10%">Remove</th>
                        <th style="width: 40%">Item Name</th>
                        <th style="width: 10%">Price</th>
                        <th style="width: 10%">Qty</th>
                        <th style="width: 10%">Total</th>
                    </tr>
                </thead>
                <tbody>
                {% load pos_filters %}
                {% for item in items %}
                    <tr>
                        <td align="center"><input type="checkbox" name="item-remove-{{ item.item.id }}" value="1" /></td>
                        <td>{{ item.item.name }}</td>
                        <td align="right">{{ item.item.price|floatformat:2 }}</td>
                        <td align="center">
                            <input type="text" name="item-qty-{{ item.item.id }}" value="{{ item.qty }}" size="2" />
                        </td>
                        <td align="right">{{ item.item.price|mult:item.qty|floatformat:2 }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" align="center">No items in cart</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="4" align="right">Sub-total</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">Discount</td>
                        <td align="right">
                            <input type="text" name="item-discount" value="" size="2" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">Total</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div align="right">
                <input type="submit" name="item-update" value="Update" />
                <input type="submit" name="item-submit" value="Submit Order" />
            </div>
            </form>
        </div>
        <div id="order-item-search">
            <form name="order-item-add" action="{% url kecupu.pos.views.add_order_item order.id %}" method="post">
                Item name: <input type="text" name="item-id" size="10" id="txt-item-search" />
                Qty <input type="text" name="item-qty" size="2" />&nbsp;
                <input type="submit" name="item-submit" value="Add Item" />
            </form>
        </div>
        {% endif %}
        <input type="hidden" name="order-id" value="{{ order.id }}" />
    </div>
{% endblock %}
