{% extends "kecupu.pos/base2.html" %}

{% block content %}
<h2>All orders</h2>
<div class="content">
    <form action="" method="get">
       Customer name: <input type="text" name="customer-id" size="20" id="txt-customer-search" value="" />
        <input type="submit" name="submit-customer" value="Show Orders" />
    </form> 
    <table border="1">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.created }}</td>
                <td>{{ order.total }}</td>
                <td><a href="{% url kecupu.pos.views.current_order order.id %}">Show</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
