#hd {
    background: #bdc;
}

.right-bar {
    background: #bdc;
    padding: 3px;
}

.site-title {
}

.clear {
    clear: both;
}

.welcome-user {
    background: #7b8;
}

.right {
    text-align: right;
}

.content {
    padding-top: 5px;
}

#order-customer {
    background: #ede;
    padding-bottom: 1px;
}

#order-item-search {
    background: #ddd;
    padding-bottom: 3px;
}

#order-item-list-tbl {
    width: 100%;
}
